/* regole generali */
*  {
  text-align: center;
  color: white;
  font-family: "Nunito",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
img {
  max-width: 100%;
  border-radius: 8px;
  margin: 13px 0;
}
.stella_b {
  color: black;
}

/* regole selettive */
/* nav */
.navbar-default {
  background: none;
}
.sfondo_nav {
  background-color: #2c3e50;
}
.navbar {
  border: none;
  margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-brand {
  color: white;
  height: 100px;
  line-height: 60px;
}
.navbar-nav > li > a {
  line-height: 60px;
}
/* header */
header {
  padding: 60px 0;
  background-color: #1abc9c;
}

/* main */
/* prima sezione */
main section:nth-child(1) {
  margin: 50px 0 60px 0;
}
main section:nth-child(1) .container .row > * {
  color: black;
}

/* seconda sezione */
main section:nth-child(2) {
  background-color: #1abc9c;
  padding: 60px 0;
}
/* bottone */
main section:nth-child(2) .btn-default {
  margin-top: 50px;
  background-color: transparent;
  color: white;
}

/* terza sezione */
main section:nth-child(3) {
  padding: 40px 0;
}
main section:nth-child(3) .row > * {
  color: black;
}
form *, form {
  text-align: left;
}
.form-control {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0px;
}
.bottone2 {
  color: white;
  background-color: #1abc9c;
}

/* footer */
footer .row:first-child {
  padding: 40px 0;
  background-color: #3a546d;
}
footer .row:last-child {
  line-height: 110px;
  background-color: #2c3e50;
}
footer .row div:nth-child(2) i {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 0 5px;
}
/* col-xs-	col-sm-	col-md-	col-lg- */
